@import "variables";

html, body {
	background-color: $slate;
}

body {
    background: $slate;
    @include set-font("adelle");
    color: #333;
}

.bg-slate {
    background-color: $slate;
}

.clickable {
    cursor: pointer;
}

.container-narrow {
    background-color: $offwhite;
    margin: 0 auto;
    max-width: 1500px;
}

.container-narrow > hr {
    margin: 30px 0;
}

.login-button {
    background-image: url("../images/login-button.png");
    background-repeat: no-repeat;
    background-position: 0 -39px;
//    position: relative;
//    left: 45px;
    width: 140px;
    height: 39px;
        box-shadow:rgba(0,0,0,0.5) 0px 3px 5px; border-radius:12px;

    &:hover {
        background-position: 0 0;
    }
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}