@import "variables";

.home-hero {
    background-image: url("../images/pretties.png");
    background-repeat: no-repeat;
    width: 1500px;
    height: 535px;

    h1 {
    	margin: 0;
    	@include set-font("adelle", 300);
    	font-size: 75px;
		color: $offwhite;
		text-align: center;
		position: relative;
		top: 55px;
    }

    .video-frame {
    	float: left;
	    background-image: url("../images/video-frame.png");
	    background-repeat: no-repeat;
	    width: 605px;
	    height: 368px;
	    position: relative;
	    left: 235px;
	    padding-left: 46px;
	    padding-top: 37px;
    }

    .home-hero-container {
    	position: relative;
    	top:160px;
    }

    form {
    	position: relative;
    	left: 250px;
    	top: 15px;
    	color: $offwhite;
    	@include set-font("adelle", 400);
    	font-size: 22px;
    	float: left;

    	input {
    		height: 30px;
    		padding: 10px;
    		background-color: $slate-dark;
    		color: $offwhite;
    		@include set-placeholder-color($slate-light);
    		@include set-font("proxima-nova", 400);
    		font-size: 18px;
    	}
    }
}
