@import "variables";

.home-hero {
    background-image: url("../images/pretties.png");
    background-repeat: repeat-x;
    background-position-x: 109px;
    height: 535px;

    &.form {
    	padding-top: 40px;
    }
    h1 {
    	margin: 0;
    	@include set-font("adelle", 300);
    	font-size: 75px;
		color: $offwhite;
		text-align: center;
		position: relative;
		top: 55px;
		line-height: 1;
		@media (max-width: 480px) {
			width: 100%;
			font-size: 50px;
		}
    }

    h2 {
    	position: relative;

		@media (max-width: 480px) {
			width: 100%;
			left: inherit;
			font-size: 26px;
		}

    	top: 125px;
    	@include set-font("adelle", 300);
    	font-size: 45px;
		color: $offwhite;
		text-align: left;
		line-height: 1.5;
		.company-title {
			@include set-font("adelle", 800);
		}

    }

    .video-frame {
    	float: left;
	    background-image: url("../images/video-frame.png");
	    background-repeat: no-repeat;
	    width: 566px;
	    height: 368px;
	    position: relative;
	    padding-left: 46px;
	    padding-top: 37px;
		@media (max-width: 480px) {
			top: -110px;
			 -webkit-transform: scale(0.45);
			 -ms-transform: scale(0.45);
			 -transform: scale(0.45);
			 -moz-transform: scale(0.45);
			 left: -160px;
			 &.hero-unit {
			 	padding: 0;
			 }
		}

    }
    .home-hero-container {
    	position: relative;
    	top:160px;
    }
}

.sub-hero {
	padding: 150px 0;

	@media (max-width: 480px) {
		padding: 0 0 50px 0;
	}
	text-align: center;
	line-height: 1.5;
	@include set-font("adelle", 400);
	font-size: 25px;
	.company-title {
		@include set-font("adelle", 800);
	}
}

.sub-sub-hero {
	position: relative;

	@media (min-width: 980px) {
		top: -250px;

	}

	@media (min-width: 768px) and (max-width: 979px) {
		top: -130px;

	}

	@media (min-width: 481px) and (max-width: 767px) {
		top: -130px;
	}

	@media (max-width: 480px) {
		top: -100px;
	}
}
