@import "variables";

.surveyForm {
	.control-label {
		width: 185px;
	}

	.controls {
		margin-left: 250px;
	}
}

.coming-soon {
	text-align: center;
	@include set-font("proxima-nova");
	.countdown-timer {
		margin-top: 30px;
	}
}
