@import "variables";

.navbar-inner {
	background-color: $slate;
	background-image: none;
	color: $offwhite;
	text-align: center;
	border: none;
	.nav > li > a {
		text-shadow: none;
		&:hover {
			color: inherit;
		}
	}
}

.masthead {
	&.navbar {
		margin: 0;
	}
	padding: 12px 0px;

	background-color: $slate;

	.nav-pills li {
		a {
			background-color: $slate;
			color: $offwhite;
		    @include set-font("proxima-nova", 600);
		    text-transform: uppercase;
		    &:hover {
		    	text-shadow: 0 0 10px $sage-light;
		    }
		}
	    &.active a {
			background-color: $slate-dark;
			color: $offwhite;
	    }

	}

	ul {
		margin-left: 92px;
		position: relative;
		top: 18px;

		li {
			margin-right: 15px;
		}
	}
	.logo, ul {
		float: left;
	}

	.logo {
		background-image: url("../images/masthead-logo.png");
		width: 253px;
		height: 72px;
		margin-right: 35px;
	}

}