@import "variables";

.navbar-inner {
	background-image: none;
	filter: none;
	color: $offwhite;
	text-align: center;
	border: none;
	.nav > li > a {
		text-shadow: none;
		&:hover {
			color: inherit;
		}
	}
}

.masthead {
	&.navbar {
		margin: 0;
	}

	.navbar-inner {
		background-color: $slate;
	}

	padding: 12px 50px;

	background-color: $slate;

	.nav-pills li {
		a {
			background-color: $slate;
			color: $offwhite;
		    @include set-font("proxima-nova", 600);
		    text-transform: uppercase;
		    &:hover {
		    	text-shadow: 0 0 10px $sage-light;
		    }
		}
	    &.active a {
			background-color: $slate-dark;
			color: $offwhite;
	    }

	}

	ul {
		margin-left: 92px;
		position: relative;
		top: 18px;

		li {
			margin-right: 15px;
		}
	}
	.logo, ul {
		float: left;
	}

	.logo {
		background-image: url("../images/masthead-logo.png");
		// position: relative;
		// top: -28px;
		width: 253px;
		height: 72px;
	}

}

.mastfoot {
	@extend .masthead;

	.navbar-inner {
		background-color: $slate-dark;
	}

	.nav-pills li {
		a {
			background-color: $slate-dark;
		}
	}
	background-color: $slate-dark;

	ul {
	    &.terms {
			position: relative;
			top: 0px;
	    	li a {
	    		text-shadow: none;
		    	color: $slate-light;
			    @include set-font("proxima-nova", 300);
		    	&:hover {
		    		color: lighten($slate-light, 10);
		    	}
		    	text-transform: none !important;
	    	}
	    }

	}

	.divider {
	    background-image: url("../images/divider.png");
	    background-repeat: no-repeat;
		@media (max-width: 979px) {
			display: none;
		}
	    width: 621px;
	    height: 5px;
	}
}