<div class="modal-header">
	<h1>Thanks for your interest!</h1>
</div>'
<div class="modal-body">
	<h3>Help us help you.</h3>
	<p>Tell us a little about why you're interested in SagePoint Software &trade;.</p>
	<form class="form-horizontal surveyForm">
		<div class="control-group">
			<label class="control-label" for="companySize">What size is your company?</label>
			<div class="controls">
				<select id="companySize" ng-model="companySize">
					<option>Less than 20</option>
					<option>21-50</option>
					<option>51-100</option>
					<option>100-400</option>
					<option>More than 400</option>
				</select>
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="industry">What is your industry?</label>
			<div class="controls">
				<select id="industry" ng-model="industry">
					<option>Abortion Policy/Anti-Abortion</option>
					<option>Abortion Policy/Pro-Abortion Rights</option>
					<option>Accountants</option>
					<option>Advertising/Public Relations</option>
					<option>Aerospace, Defense Contractors</option>
					<option>Agribusiness</option>
					<option>Agricultural Services & Products</option>
					<option>Agriculture</option>
					<option>Air Transport</option>
					<option>Air Transport Unions</option>
					<option>Airlines</option>
					<option>Alcoholic Beverages</option>
					<option>Alternative Energy Production & Services</option>
					<option>Architectural Services</option>
					<option>Attorneys/Law Firms</option>
					<option>Auto Dealers</option>
					<option>Auto Dealers, Japanese</option>
					<option>Auto Manufacturers</option>
					<option>Automotive</option>
					<option></option>
					<option>Banking, Mortgage</option>
					<option>Banks, Commercial</option>
					<option>Banks, Savings & Loans</option>
					<option>Bars & Restaurants</option>
					<option>Beer, Wine & Liquor</option>
					<option>Books, Magazines & Newspapers</option>
					<option>Broadcasters, Radio/TV</option>
					<option>Builders/General Contractors</option>
					<option>Builders/Residential</option>
					<option>Building Materials & Equipment</option>
					<option>Building Trade Unions </option>
					<option>Business Associations</option>
					<option>Business Services</option>
					<option></option>
					<option>Cable & Satellite TV Production & Distribution</option>
					<option>Candidate Committees </option>
					<option>Candidate Committees, Democratic</option>
					<option>Candidate Committees, Republican</option>
					<option>Car Dealers</option>
					<option>Car Dealers, Imports</option>
					<option>Car Manufacturers</option>
					<option>Casinos / Gambling</option>
					<option>Cattle Ranchers/Livestock</option>
					<option>Chemical & Related Manufacturing</option>
					<option>Chiropractors</option>
					<option>Civil Servants/Public Officials</option>
					<option>Clergy & Religious Organizations </option>
					<option>Clothing Manufacturing</option>
					<option>Coal Mining</option>
					<option>Colleges, Universities & Schools</option>
					<option>Commercial Banks</option>
					<option>Commercial TV & Radio Stations</option>
					<option>Communications/Electronics</option>
					<option>Computer Software</option>
					<option>Computers/Internet</option>
					<option>Conservative/Republican</option>
					<option>Construction</option>
					<option>Construction Services</option>
					<option>Construction Unions</option>
					<option>Credit Unions</option>
					<option>Crop Production & Basic Processing</option>
					<option>Cruise Lines</option>
					<option>Cruise Ships & Lines</option>
					<option></option>
					<option>Dairy</option>
					<option>Defense</option>
					<option>Defense Aerospace</option>
					<option>Defense Electronics</option>
					<option>Defense/Foreign Policy Advocates</option>
					<option>Democratic Candidate Committees </option>
					<option>Democratic Leadership PACs</option>
					<option>Democratic/Liberal </option>
					<option>Dentists</option>
					<option>Doctors & Other Health Professionals</option>
					<option>Drug Manufacturers</option>
					<option></option>
					<option>Education </option>
					<option>Electric Utilities</option>
					<option>Electronics, Defense Contractors</option>
					<option>Energy & Natural Resources</option>
					<option>Entertainment Industry</option>
					<option>Environment </option>
					<option></option>
					<option>Farming</option>
					<option>Finance / Credit Companies</option>
					<option>Finance, Insurance & Real Estate</option>
					<option>Food & Beverage</option>
					<option>Food Processing & Sales</option>
					<option>Food Products Manufacturing</option>
					<option>Food Stores</option>
					<option>For-profit Education</option>
					<option>Foreign & Defense Policy </option>
					<option>Forestry & Forest Products</option>
					<option>Foundations, Philanthropists & Non-Profits</option>
					<option>Funeral Services</option>
					<option></option>
					<option>Gambling & Casinos</option>
					<option>Gambling, Indian Casinos</option>
					<option>Garbage Collection/Waste Management</option>
					<option>Gas & Oil</option>
					<option>Gay & Lesbian Rights & Issues</option>
					<option>General Contractors</option>
					<option>Government Employee Unions</option>
					<option>Government Employees</option>
					<option>Gun Control </option>
					<option>Gun Rights </option>
					<option></option>
					<option>Health</option>
					<option>Health Professionals</option>
					<option>Health Services/HMOs</option>
					<option>Hedge Funds</option>
					<option>HMOs & Health Care Services</option>
					<option>Home Builders</option>
					<option>Hospitals & Nursing Homes</option>
					<option>Hotels, Motels & Tourism</option>
					<option>Human Rights </option>
					<option></option>
					<option>Ideological/Single-Issue</option>
					<option>Indian Gaming</option>
					<option>Industrial Unions </option>
					<option>Insurance</option>
					<option>Israel Policy</option>
					<option></option>
					<option>Labor</option>
					<option>Lawyers & Lobbyists</option>
					<option>Lawyers / Law Firms</option>
					<option>Leadership PACs </option>
					<option>Liberal/Democratic</option>
					<option>Liquor, Wine & Beer</option>
					<option>Livestock</option>
					<option>Lobbyists</option>
					<option>Lodging / Tourism</option>
					<option>Logging, Timber & Paper Mills</option>
					<option></option>
					<option>Manufacturing, Misc</option>
					<option>Marine Transport</option>
					<option>Meat processing & products</option>
					<option>Medical Supplies</option>
					<option>Mining</option>
					<option>Misc Business</option>
					<option>Misc Manufacturing & Distributing </option>
					<option>Misc Unions </option>
					<option>Miscellaneous Defense</option>
					<option>Miscellaneous Services</option>
					<option>Mortgage Bankers & Brokers</option>
					<option>Motion Picture Production & Distribution</option>
					<option>Music Production</option>
					<option></option>
					<option>Natural Gas Pipelines</option>
					<option>Newspaper, Magazine & Book Publishing</option>
					<option>Non-profits, Foundations & Philanthropists</option>
					<option>Nurses</option>
					<option>Nursing Homes/Hospitals</option>
					<option>Nutritional & Dietary Supplements</option>
					<option></option>
					<option>Oil & Gas</option>
					<option>Other</option>
					<option></option>
					<option>Payday Lenders</option>
					<option>Pharmaceutical Manufacturing</option>
					<option>Pharmaceuticals / Health Products</option>
					<option>Phone Companies</option>
					<option>Physicians & Other Health Professionals</option>
					<option>Postal Unions</option>
					<option>Poultry & Eggs</option>
					<option>Power Utilities</option>
					<option>Printing & Publishing</option>
					<option>Private Equity & Investment Firms</option>
					<option>Pro-Israel </option>
					<option>Professional Sports, Sports Arenas & Related Equipment & Services</option>
					<option>Progressive/Democratic</option>
					<option>Public Employees</option>
					<option>Public Sector Unions </option>
					<option>Publishing & Printing</option>
					<option></option>
					<option>Radio/TV Stations</option>
					<option>Railroads</option>
					<option>Real Estate</option>
					<option>Record Companies/Singers</option>
					<option>Recorded Music & Music Production</option>
					<option>Recreation / Live Entertainment</option>
					<option>Religious Organizations/Clergy</option>
					<option>Republican Candidate Committees </option>
					<option>Republican Leadership PACs</option>
					<option>Republican/Conservative </option>
					<option>Residential Construction</option>
					<option>Restaurants & Drinking Establishments</option>
					<option>Retail Sales</option>
					<option>Retired </option>
					<option></option>
					<option>Savings & Loans</option>
					<option>Schools/Education</option>
					<option>Sea Transport</option>
					<option>Securities & Investment</option>
					<option>Special Trade Contractors</option>
					<option>Sports, Professional</option>
					<option>Steel Production </option>
					<option>Stock Brokers/Investment Industry</option>
					<option>Student Loan Companies</option>
					<option>Sugar Cane & Sugar Beets</option>
					<option></option>
					<option>Teachers Unions</option>
					<option>Teachers/Education</option>
					<option>Telecom Services & Equipment</option>
					<option>Telephone Utilities</option>
					<option>Textiles </option>
					<option>Timber, Logging & Paper Mills</option>
					<option>Tobacco</option>
					<option>Transportation</option>
					<option>Transportation Unions </option>
					<option>Trash Collection/Waste Management</option>
					<option>Trucking</option>
					<option>TV / Movies / Music</option>
					<option>TV Production & Distribution</option>
					<option></option>
					<option>Unions</option>
					<option>Unions, Airline</option>
					<option>Unions, Building Trades</option>
					<option>Unions, Industrial</option>
					<option>Unions, Misc</option>
					<option>Unions, Public Sector</option>
					<option>Unions, Teacher</option>
					<option>Unions, Transportation</option>
					<option>Universities, Colleges & Schools</option>
					<option></option>
					<option>Vegetables & Fruits</option>
					<option>Venture Capital</option>
					<option></option>
					<option>Waste Management</option>
					<option>Wine, Beer & Liquor</option>
				</select>
			</div>
		</div>

	</form>
</div>

<div class="modal-footer">
	<a href="#" style="font-size:0.8em; padding: 10px;" ng-click="close()">No thanks</a>
	<button class="btn btn-primary" ng-click="submit()">Submit</button>
</div>
