<form name="requestForm" novalidate>
	<p>Sound interesting? Learn more:</p>
	<fieldset>
		<div class="control-group">
			<div class="controls">
				<input type="text" id="requester-name" ng-model="requestForm.name" placeholder="First and last name" required>
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<input type="email" id="requester-email" ng-model="requestForm.email" placeholder="Email address" required>
			</div>
		</div>
		<div ng-class="submitClass(requestForm)" ng-click="submit(requestForm)"></div>
	</fieldset>
</form>
