<div class="content-header" style="position: relative; top: -1px;">
	<h1>Your New Mission Control</h1>
</div>

<div class="sandbox-container">
	<div class="sandbox-content">
		<h2>Best-In-Class Resource Search</h2>
		<p>Zero-in on the best-fit resource instantly. Search on individual skills, skill combinations, skill level, technology and industry certifications, security clearance level, resource characteristics, and more.</p>
		<h2><button class="btn btn-gray-light" ng-click="scrollDown()">Request a Custom Demo</button></h2>
		<demo></demo>
	</div>
</div>

<div class="slate-container clearfix">
	<div class="content-section-header">
		<div class="header clearfix"><span class="divider"></span><span style="padding: 0 60px">Learn More</span><span class="divider"></span></img></div>
	</div>
	<h2>SagePoint connects the best-fit resources to the projects that need them.</h2>

	<div class="container download-buttons">
		<div class="row">
			<button class="btn btn-slate-light span5 offset1" ng-click="downloadFile('docs/sp-productsummary.pdf');">
				<img class='left' src='images/pdf.png' alt='PDF Icon'></img>
				<span style="width:60%">SagePoint&#8482; Solution Summary</span>
				<img class='right' src='images/arrow-down.png' alt='Down Arrow'></img>
			</button>

			<button class="btn btn-slate-light span5" ng-click="downloadFile('docs/sp-worksheet.pdf');">
				<img class='left' src='images/pdf.png' alt='PDF Icon'></img>
				<span style="width:60%">Free resource evaluation tool</span>
				<img class='right' src='images/arrow-down.png' alt='Down Arrow'></img>
			</button>			
		</div>
		<div class="row">
			<button class="btn btn-slate-light span5 offset1" ng-click="downloadFile('docs/sp-partnerconnect.pdf');">
				<img class='left' src='images/pdf.png' alt='PDF Icon'></img>
				<span style="width:60%">SagePoint&#8482; Software Partner Connect Summary</span>
				<img class='right' src='images/arrow-down.png' alt='Down Arrow'></img>
			</button>

			<button class="btn btn-slate-light span5" ng-click="downloadFile('docs/sp-ebook.pdf');">
				<img class='left' src='images/pdf.png' alt='PDF Icon'></img>
				<span style="width:60%">Free resource evaluation book</span>
				<img class='right' src='images/arrow-down.png' alt='Down Arrow'></img>
			</button>			
		</div>		
	</div>
</div>


<div class="pretties-container clearfix center-me" ng-controller="MainCtrl">
	<div class="span5" >
		<h2>With <span class="company-title">SagePoint &trade;</span>, you will maximize the contribution of every skilled resource.</h2>
	</div>
	<div class="request-form visible-desktop"></div>
</div>

</div>
