<div class="content-header" style="position: relative; top: -1px;">
	<h1>Your New Mission Control</h1>
</div>

<div class="sandbox-container">
	<div class="sandbox-content">
		<h2>Sandbox content will go here</h2>
	</div>
</div>

<div class="slate-container clearfix center-me">
	<div class="content-section-header">
		<div class="header clearfix"><span class="divider"></span><span style="padding: 0 60px">Learn More</span><span class="divider"></span></img></div>
	</div>
	<h2>SagePoint connects the best-fit resources to the projects that need them.</h2>

	<ul class="download-pills">
		<li>One</li>
		<li>Two</li>
		<li>Three</li>
		<li>Four</li>
	</ul>

</div>


<div class="pretties-container clearfix center-me">
	<div class="span5" >
		<h2>With <span class="company-title">SagePoint &trade;</span>, you will maximize the contribution of every skilled resource.</h2>
	</div>
	<div class="request-form visible-desktop"></div>
</div>

</div>
