<div class="home-hero bg-slate">
	<h1>Optimize your workforce.</h1>
	<div class="home-hero-container clearfix">
		<div class="video-frame">
			<iframe src="http://player.vimeo.com/video/67889339?title=0&amp;byline=0&amp;portrait=0" width="514" height="289" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
		</div>
		<form>
			<p>Sound interesting? Learn more:</p>
			<fieldset>
				<div class="control-group">
					<div class="controls">
						<input type="text" id="inputName" placeholder="First and last name">
					</div>
				</div>
				<div class="control-group">
					<div class="controls">
						<input type="text" id="inputEmail" placeholder="Email address">
					</div>
				</div>
				<button type="submit" class="btn">Submit</button>
			</fieldset>
		</form>
	</div>
</div>

<div class="hero-unit">
  <h1>SagePoint Software</h1>
  <p>Public Site Staging Server</p>
  <ul>
      <li ng-repeat="thing in awesomeThings">{{thing}}</li>
  </ul>
  <p>this was deployed automatically =)</p>
</div>
