<div class="home-hero bg-slate">
	<h1>Optimize your workforce.</h1>
	<div class="home-hero-container clearfix center-me">
		<div class="video-frame">
			<iframe src="http://player.vimeo.com/video/67889339?title=0&amp;byline=0&amp;portrait=0" width="514" height="289" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
		</div>
		<div class="request-form top-request-form visible-desktop"></div>
	</div>
</div>

<div class="clearfix"></div>

<div class="sub-hero">
	<div class="content-section-header">
		<div class="header clearfix"><span class="divider"></span><span style="padding: 0 60px; color: #3A4147; font-size: 14px; letter-spacing: 2.1px; font-weight:600;">Who We Are</span><span class="divider"></span></img></div>
	</div>
	<div class="center-me" style="padding-bottom: 80px;">
		<div class="span9">
	  		<p><span class="company-title">SagePoint Software &trade;</span> is a Software-as-a-Service (SaaS) toolset you can use to unlock the full potential of your resources and your partners. For more information about the company, its founders, employment opportunities, or anything else, send an email to <a href="mailto:contact@sagepointsoftware.com" target="_top" style="color: #68A837;">contact@sagepointsoftware.com</a></p>
	  	</div>
	</div>
</div>

<div class="home-hero bg-slate clearfix center-me form">
	<div class="request-form bottom-request-form hidden-desktop"></div>
</div>

<div class="home-hero bg-slate clearfix center-me" style="height: 370px; background-position-y: -257px;  margin-top: -280px;">
	<div class="span8 sub-sub-hero" >
		<h2>With <span class="company-title">SagePoint Software&trade;</span>, you will maximize the contribution of every skilled resource.</h2>
	</div>

</div>
